@import "utils/_tailwind.css";
@import "utils/_accessibility.css";

/* purgecss start ignore */
html {
	scroll-behavior: smooth;
}

:focus,
button:focus {
	outline: solid 3px rgba(0, 0, 0, 0.05);
	outline-offset: 4px;
}

header .top-bg {
	background-image: url(../../static/top-repeat.svg);
}
@media (max-width: 1024px) {
	.main-banner {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(../../static/bg-main.jpg);
		background-size: cover;
	}
}

@media (max-width: 1024px) {
	.main-banner-webp {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(../../static/bg-main.webp);
		background-size: cover;
	}
}

.nosotros {
	background-image: url(../../static/mano.png);
	background-repeat: no-repeat;
	background-position: top -90px right;
	background-size: 900px;
}

@media (max-width: 1024px) {
	.nosotros {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.75),
				rgba(255, 255, 255, 0.75)
			),
			url(../../static/mano-mobile.jpg);
		background-repeat: no-repeat;
		background-position: top 50px right;
		background-size: cover;
	}
}

.footer-pattern {
	background-image: url(../../static/Footer\ pattern.svg);
}

[x-cloak] {
	display: none !important;
}

/* purgecss end ignore */
