@import "utils/_tailwind.css";
@import "utils/_accessibility.css";

/* purgecss start ignore */

:focus,
button:focus {
	outline: solid 3px rgba(0, 0, 0, 0.05);
	outline-offset: 4px;
}

header .top-bg {
	background-image: url(../../static/top-repeat.svg);
}
/* purgecss end ignore */
