@import "utils/_tailwind.css";
@import "utils/_accessibility.css";

/* purgecss start ignore */
html {
	scroll-behavior: smooth;
}

:focus,
button:focus {
	outline: solid 3px rgba(0, 0, 0, 0.05);
	outline-offset: 4px;
}

header .top-bg {
	background-image: url(../../static/top-repeat.svg);
}

.whatsapp-icon {
	bottom: 50px;
	right: 30px;
}
/* purgecss end ignore */
