---
layout: base.njk
title: Funy Pop | Pochoclos Gourmet
---
<header class="mx-auto mb-4" >
    <div class="bg-repeat-x top-bg h-16"></div>
   <nav class="container mx-auto relative flex items-center justify-evenly sm:h-10">
   <a href="#" class="text-base md:text-xl font-bold text-gray-800 hover:text-pink-900 transition duration-150 ease-in-out">Presentaciones</a>
            <a href="#" class="text-base md:text-xl ml-8 font-bold text-gray-800 hover:text-pink-900 transition duration-150 ease-in-out">Sabores</a>
            <a href="#" class="text-base md:text-xl ml-8 font-bold text-gray-800 hover:text-pink-900 transition duration-150 ease-in-out">Eventos</a>
            <img src="/static/fp-logo.png" alt="Logo de Funny Pop" class="self-start z-20">
            <a href="#" class="text-base md:text-xl ml-8 font-bold text-gray-800 hover:text-pink-900 transition duration-150 ease-in-out">Nosotros</a>
            <a href="#" class="text-base md:text-xl ml-8 font-bold text-pink-700 hover:text-pink-900 transition duration-150 ease-in-out">Contacto</a>
            <div class="flex">
                <a href=""><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.34 22H4.66C3.19 22 2 20.81 2 19.34V4.66C2 3.19 3.19 2 4.66 2H19.33C20.81 2 22 3.19 22 4.66V19.33C22 20.81 20.81 22 19.34 22Z" fill="#FED7E2" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 12C16 14.21 14.21 16 12 16C9.79 16 8 14.21 8 12C8 9.79 9.79 8 12 8C14.21 8 16 9.79 16 12Z" fill="#D53F8C" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19 5.5C19 5.78 18.78 6 18.5 6C18.22 6 18 5.78 18 5.5C18 5.22 18.22 5 18.5 5C18.78 5 19 5.22 19 5.5Z" fill="#D53F8C" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</a>
                <a href="" class="ml-4"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.34 22H4.66C3.19 22 2 20.81 2 19.34V4.66C2 3.19 3.19 2 4.66 2H19.33C20.81 2 22 3.19 22 4.66V19.33C22 20.81 20.81 22 19.34 22Z" fill="#FED7E2" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12 17.9998V8.34978C12 6.29978 13.64 5.65978 15.28 6.15978" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.5 11H14.5" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</a>
            </div>
        </nav>
</header>
<main id="main" class="px-4 mx-auto">
<section class="container bg-pink-200 mx-auto rounded-lg relative">
    

    <h1 class="font-bold text-xl mb-2">Funny Pop <span class="font-light text-gray-500"></h1>
    <p>Tienda de Pochoclos Gourmet</p>

</section>

    <footer class="text-sm text-gray-500">
       <p class="flex items-center justify-center">
             Encontranos en {% if site.meta_data.instagram %}Instagram: {{ site.meta_data.instagram }}{% endif %}</p>
       
    </footer>
</main>