---
layout: base.njk
title: Funy Pop | Pochoclos Gourmet
---

<!--Navegacion-->
<header class="mx-auto mb-4" >
    <div class="bg-repeat-x top-bg h-16"></div>
   <nav class="container mx-auto relative flex items-center justify-evenly sm:h-10">
   <a href="#" class="text-base md:text-xl font-bold text-gray-800 hover:text-pink-700 transition duration-150 ease-in-out">Presentaciones</a>
            <a href="#" class="text-base md:text-xl ml-8 font-bold text-gray-800 hover:text-pink-700 transition duration-150 ease-in-out">Sabores</a>
            <a href="#" class="text-base md:text-xl ml-8 font-bold text-gray-800 hover:text-pink-700 transition duration-150 ease-in-out">Eventos</a>
            <img src="/static/fp-logo.png" alt="Logo de Funny Pop" class="self-start z-20">
            <a href="#" class="text-base md:text-xl ml-8 font-bold text-gray-800 hover:text-pink-700 transition duration-150 ease-in-out">Nosotros</a>
            <a href="#" class="text-base md:text-xl ml-8 font-bold text-gray-800 hover:text-pink-700 transition duration-150 ease-in-out">Contacto</a>
            <div class="flex">
                <a href="" aria-label="Instagram"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.34 22H4.66C3.19 22 2 20.81 2 19.34V4.66C2 3.19 3.19 2 4.66 2H19.33C20.81 2 22 3.19 22 4.66V19.33C22 20.81 20.81 22 19.34 22Z" fill="#FED7E2" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 12C16 14.21 14.21 16 12 16C9.79 16 8 14.21 8 12C8 9.79 9.79 8 12 8C14.21 8 16 9.79 16 12Z" fill="#D53F8C" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19 5.5C19 5.78 18.78 6 18.5 6C18.22 6 18 5.78 18 5.5C18 5.22 18.22 5 18.5 5C18.78 5 19 5.22 19 5.5Z" fill="#D53F8C" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                        </a>
                <a href="" aria-label="Facebook" class="ml-4"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19.34 22H4.66C3.19 22 2 20.81 2 19.34V4.66C2 3.19 3.19 2 4.66 2H19.33C20.81 2 22 3.19 22 4.66V19.33C22 20.81 20.81 22 19.34 22Z" fill="#FED7E2" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M12 17.9998V8.34978C12 6.29978 13.64 5.65978 15.28 6.15978" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.5 11H14.5" stroke="#702459" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

        </a>
            </div>
        </nav>
</header>

<main id="main" class="mx-auto">
<!--Banner principal-->
    <section class="container bg-pink-200 mx-auto rounded-lg flex py-20">
    
        <div class="flex-1 ml-8" >
        <h1 class="text-3xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-4xl sm:leading-none md:text-5xl">Tienda de pochoclos gourmet</h1>
        <p class="mt-3 text-base text-gray-700 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">Como en el cine pero en casa</p>
        <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                <div class="rounded-md shadow">
                <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                    Pedidos Ya
                </a>
                </div>
                <div class="mt-3 sm:mt-0 sm:ml-3">
                <a href="#" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-pink-700 bg-pink-100 hover:text-pink-600 hover:bg-pink-50 focus:outline-none focus:shadow-outline-pink focus:border-pink-300 transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                    Eventos
                </a>
                </div>
            </div>
        </div>
        <img class="flex-1" src="" alt="">
    </section>

<!--Nuestras presentaciones-->
    <section class="mt-20">
        <div class="container mx-auto">
            <h2 class="text-3xl text-pink-900 font-bold tracking-tight uppercase">Elegi la <span class="text-pink-700">presentación</span> que se ajusta a vos.</h2>
            <div class="grid grid-flow-row  md:grid-flow-col md:gap-8 gap-2 mt-4">
                <div>
                    <div class="bg-white rounded-lg shadow-lg p-4">
                    <img src="/static/baldes.jpg" alt="Pochoclos en baldes de varios sabores">
                    <h3 class="text-2xl font-bold mt-8 text-gray-900">Balde</h3>
                    <p class="mt-2 text-gray-700">El clasico e interminable balde, ideal para maratonear series.</p>
                    <a href="#" class="mt-8 w-full flex items-center justify-center px-6 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink transition duration-150 ease-in-out md:py-3 md:text-lg md:px-10">
                        Pedidos Ya
                    </a>
                    </div>
                    
                </div>
                <div>
                    <div class="bg-white rounded-lg shadow-lg p-4">
                    <img src="/static/tubos.jpg" alt="Pochoclos en baldes de varios sabores">
                    <h3 class="text-2xl font-bold mt-8 text-gray-900">Tubos</h3>
                    <p class="mt-2 text-gray-700">El clasico e interminable balde, ideal para maratonear series.</p>
                    <a href="#" class="mt-8 w-full flex items-center justify-center px-6 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink transition duration-150 ease-in-out md:py-3 md:text-lg md:px-10">
                        Pedidos Ya
                    </a>
                    </div>
                
                </div>
                <div>
                    <div class="bg-white rounded-lg shadow-lg p-4">
                    <img src="/static/bolsas.jpg" alt="Pochoclos en baldes de varios sabores">
                    <h3 class="text-2xl font-bold mt-8 text-gray-900">Bolsas</h3>
                    <p class="mt-2 text-gray-700">El clasico e interminable balde, ideal para maratonear series.</p>
                    <a href="#" class="mt-8 w-full flex items-center justify-center px-6 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink transition duration-150 ease-in-out md:py-3 md:text-lg md:px-10">
                        Pedidos Ya
                    </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

<!--Sabores-->
    <section class="mt-20 h-20">
        <div class="container mx-auto">
            <h2 class="text-3xl text-pink-900 font-bold tracking-tight uppercase">Descubri nuestros <span class="text-pink-700">sabores gourmet.</span></h2>

            <div class="grid grid-flow-col sm:grid-flow-row md:grid-flow-col-dense lg:grid-flow-row-dense xl:grid-flow-col">
                <div> 
                    <h3>Frutos Rojos</h3>  
                </div>
            
            </div>
        </div>
    </section>

<!--Eventos-->
    <section class="mt-10 py-20 bg-pink-100 w-full">
        <div class="container mx-auto">
            <h2 class="text-3xl text-pink-900 font-bold tracking-tight uppercase">Hace tu <span class="text-pink-700">evento</span> diferente</h2>
            <div class="grid grid-flow-row md:grid-flow-col mt-8 gap-5">
                <img class="border-gray-100 border-8 shadow-lg" src="/static/eventos.jpg" alt="Muchas manos agarrando pochoclos">
                <div>
                    <p class="text-2xl text-gray-800">Llevamos nuestros exclusivos sabores gourmet a tu evento para hacerlo unico.</p>
                    <a href="" class="text-pink-700 text-xl uppercase underline font-bold">Reserva tu fecha</a>
                </div>
                
            </div>
        </div>
    </section>

<!--Nosotros-->
    <section class="mt-20 h-20">
        <div class="container mx-auto">
            <h2 class="text-3xl text-pink-900 font-bold tracking-tight uppercase">Quienes<span class="text-pink-700">somos</span> </h2>
        </div>
    </section>


<!--Contacto-->
    <section class="mt-20">
        <div class="container mx-auto">
            <h2 class="text-3xl text-pink-900 font-bold tracking-tight uppercase">Hacenos tu <span class="text-pink-700">consulta</span></h2>
                <div class="flex mt-8">
                    <div>

                    </div>
                    <div class="p-8 shadow-xl rounded-lg border border-gray-200">
                        <form class="w-full max-w-lg" name="contacto desde sitio web" netlify>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="nombre">
                                    Nombre
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="nombre" type="text" placeholder="Tu nombre">
                                </div>
                                <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="mail">
                                    email
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="mail" type="text" placeholder="Correo electronico">
                                </div>
                            </div>
                            <div class="flex flex-wrap -mx-3 mb-6">
                                <div class="w-full px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="mensaje">
                                    Mensaje
                                </label>
                                <textarea rows="8" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="mensaje" type="textarea" placeholder="Decinos como te podemos ayudar"></textarea>
                                </div>
                            </div>
                            <button class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-pink-600 hover:bg-pink-500 focus:outline-none focus:border-pink-700 focus:shadow-outline-pink transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10" type="submit">Enviar</button>
                            
                            </div>
                        </form>
                    </div>
                </div>
        </div>    
    </section>

</main>

<footer class="text-sm bg-gray-800 text-gray-200 h-20 mt-20">
    <div class="container mx-auto">
        <p class="flex items-center justify-center">
            Encontranos en {% if site.meta_data.instagram %}Instagram: {{ site.meta_data.instagram }}{% endif %}</p>
     </div>
</footer>