---
layout: base.njk
title: Funy Pop | Pochoclos Gourmet
---

<main id="main" class="px-4 max-w-md mx-auto text-center">
    <img src="/static/fp-logo.png" alt="Logo de Funny Pop" class="mx-auto my-4">
    <h1 class="font-bold text-xl mb-2">Funny Pop <span class="font-light text-gray-500"></h1>
    <p>Tienda de Pochoclos Gourmet</p>



    <footer class="text-sm text-gray-500">
       <p class="flex items-center justify-center">
             Encontranos en {% if site.meta_data.instagram %}Instagram: {{ site.meta_data.instagram }}{% endif %}</p>
       
    </footer>
</main>